@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;500;600;700;800&display=swap');

/* reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Karla', sans-serif;
    /* color: #333; */
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img{
    width: 100%;
}

/* Navbar */
.navbar {
    color: #000000;
    height: 70px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: #000000;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px #000000 solid;
}

/* ABOUT ME */
.about-me img {
    width: 100%;
    border: #000000 solid 3px;
    border-radius: 50%;
}

.about-me .grid h3 {
    font-weight: 400;
}

.about-me .grid h1 {
    font-weight: 800;
    font-size: 35px;
}

.about-me .grid>*:last-child {
    margin-top: 95px;
}

/* Personal Projects */
.recent-works .grid {
    grid-template-columns: 1fr 1fr 1fr;
}
.recent-works .card{
    transition: transform 0.2s ease-in;
}
.recent-works .card:hover{
    transform: translateY(-15px);
}

/* Divider */
.divider{
    width: 80%;
    background-color: #ccc;
    height: 1px;
    margin: 40px auto; /* pushes it to the middle */
}


/* Footer */
.footer {
    color: white;
}
.footer .container{
    background-color: #000000;
}
.footer .social a {
    margin: 0 10px;
    /* margin left and right */
    color: #ffff;
}

/* mobile devices */
@media(max-width: 500px) {
    .navbar {
        height: 110px;
    }

    .navbar .flex {
        flex-direction: column;
    }

    .navbar ul {
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.1);
    }
}

/* tablet and under devices */
@media(max-width: 768px) {

    .grid,
    .about-me .grid,
    .recent-works .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .recent-works .card{
        height: 100%;
        width: 400px;
        margin: 0 auto;
    }
}