@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* Navbar styles */
.navbar {
    padding: 20px;
}
.navbar .container {
    overflow: hidden;
}
.navbar ul{
    display: flex;
    list-style-type: none;
}
.navbar li{
    text-decoration: none;
    padding: 10px;
    margin-top: 0 5px;
    font-size: 1.2rem;
    font-weight: 400;
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}
.navbar h1{
    font-size: 2rem;
    font-weight: 900;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.navbar h1:hover {
    transform: scale(1.2);
    color: #5BE9B9;
}
.navbar li:hover {
    transform: rotate(360deg);
    color: #5BE9B9;
}

/* Introduction section */
.introduction {
    height: 80vh;
    width: 100%;
    padding-top: 2rem;
    text-align: center;
}
.introduction h1 {
    font-size: 3rem;
    font-weight: 900;
    color: #141c3a;
    line-height: 1.5;
    /* top and bottom 10px and left and right 0px */
    margin: 1.5rem 0; 
}
.introduction h3 {
    font-size: 1.3rem;
    font-weight: 400;
    color: #141c3a;
    line-height: 1.5;
    margin: 1.5rem 0; 
}
.introduction .intro-body img {
    border-radius: 50%;
    height: 250px;
    width: 250px;
}
.introduction .intro-foot img {
    height: 50%;
    width: 50%;
    margin-top: 2.5rem;
}

/* Introduction-medium section */
.intro-medium {
    height: 400px;
    text-align: center;
    padding: 0 20rem;
    background-color: #5BE9B9;
}
.intro-medium h1 {
    padding-top: 5rem;
    font-weight: 900;
    color: #141c3a;
}
.intro-medium p {
    line-height: 1.5;
    color: #141c3a;
    margin: 1.5rem 3rem; 
}